@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-box">
    <input id="userName" class="login-input form-control" placeholder="Enter Username" name="UserName" value="" />
    <input id="password" class="login-input form-control" placeholder="Enter Password" name="Password" type="password" value="" />
    <span id="badLogin" class="login-span error d-none">Could not login given the current Username and Password.</span>
    <br />
    <input id="Login" class="btn btn-primary forest-green login-input no-border-radius form-control" type="button" value="Login" />
    <br />
    <a href="/Login/CreateAccount">
        <input id="CreateAccount" class="btn btn-primary no-border-radius login-input form-control forest-green" type="button" value="Create an Account" />
    </a>
</div>