.info-screen {
    position: absolute;
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.card {
    height: 300px;
    width: 800px;
    box-shadow: none;
    transition: box-shadow .5s;
}

.card-margin-top {
    margin-top: 10px;
}

.card-margin-left {
    margin-left: 10px;
}

.card:hover {
    box-shadow: 2px 2px 5px 1px #333333;
}

.card-user {
    text-align: center;
    padding-top: 13%;
}

.card-user > span:not(.card-username){
    margin-bottom: 20px;
}

.card-username {
    text-decoration: underline;
    font-weight: bold;
}