.forest-green {
    background-color: #1B701B;
    border-color: #1B701B;
    color: white;
}

.btn.forest-green:hover, .btn.forest-green:active, .btn.forest-green:focus, .btn.forest-green:active:focus {
    background-color: #333333;
    border-color: #333333;
    box-shadow: 0 0 0 0.2rem #1B701B;
    outline: none;
    color: white;
}

.forest-green-input:focus, .forest-green-input:active {
    box-shadow: 0 0 0 0.2rem rgba(27, 112, 27, 0.8);
}

.no-outline:focus {
    outline: 0 !important;
    box-shadow: none;
}

.no-border-radius {
    border-radius: 0;
}

.error {
    color: red;
    font-style: italic;
}