/*Initial design help from https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_gray */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbaritem {
    float: left;
}

    .navbaritem .navbarspan {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .navbaritem a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .navbaritem a:hover {
            background-color: #111;
        }


.active {
    background-color: #1B701B;
}
