@using bankLedger.Web.Models
@using bankLedger.Models
@Model LedgerViewModel

<tr>
    <th scope="row">@Model.LedgerId</th>
    <td>@Model.TransactionType.ToString()</td>
    <td>@(Model.TransactionType == TransactionType.Deposit ? "" : "-" + Model.Amount.ToString("C"))</td>
</tr>